.footer{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #faebd7;
    gap: 2px;
    z-index: 0;
}

.footer a{
    z-index: 1;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    background-color: black;
    margin-top: 2px;
    border-radius: 0px 12px 0px 0px;
}

.footer .accounts{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: black;
    margin-top: 2px;
    border-radius: 12px 0px 0px 0px;
}

.footer .accounts .icons{
    width: auto;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}

.footer .accounts .icons a{
    margin-inline: auto;
    width: max(35px,60%);
    aspect-ratio: 1/1;
}

.footer .accounts .icons a div{
    display: grid;
    place-items: center;
    margin-top: 10px;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: antiquewhite;
    border-radius: 100%;
}

.footer .accounts .icons a div img{
    width: 50%;
}

.footer .accounts .slashes{
    width: auto;
    height: 100%;
    background-image: url("../img/slash-forward.svg");
    background-repeat: space;
    background-position: center;
    background-size: 40px 80%;
}