.name {
    display: flex;
    flex-direction: column;
    width: 12em;
    margin-block: auto;
    font-size: max(3vw, 24px);
    font-weight: bolder;
    color: antiquewhite;
}

.name-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-block: 20vh;
    margin-bottom: 70vh;
    margin-inline: auto;
    border-radius: 12px;
    padding: 3em;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.role {
    line-height: 1.2em;
    display: flex;
    height: 1em;
    overflow-y: hidden;
}

.role ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    animation: role-switch 6s infinite 1s;
}

@keyframes role-switch{
    0%{
        transform: translateY(1.3em);
    }
    25%{
        transform: translateY(0em);
    }
    50%{
        transform: translateY(-1.3em);
    }
    75%{
        transform: translateY(-2.5em);
    }
    100%{
        transform: translateY(-3.5em);
    }
}