body {
    font-family:"Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    overflow-x: hidden;
    margin: 0px;
    background-color: black;
}

.bg-img {
    background: url(img/DSC06051.JPG);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    transform: translateY(-20px);
    mask-image: linear-gradient(black, transparent);
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.name {
    display: flex;
    flex-direction: column;
    width: 10em;
    margin-block: auto;
    font-size: max(3vw, 24px);
    font-weight: bolder;
    color: antiquewhite;
}

.role {
    line-height: 1.2em;
    display: flex;
    height: 1em;
    overflow-y: hidden;
}

.role ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    animation: role-switch 6s infinite 1s;
}

@keyframes role-switch{
    0%{
        transform: translateY(1.3em);
    }
    25%{
        transform: translateY(0em);
    }
    50%{
        transform: translateY(-1.3em);
    }
    75%{
        transform: translateY(-2.5em);
    }
    100%{
        transform: translateY(-3.5em);
    }
}

.vertical-container{
    display: flex;
    flex-direction: column;
}
.vertical-container h1{
    width: auto;
    text-align: center;
    color: antiquewhite;
}
.horizontal-line{
    width: 80vw;
    height: 0.2em;
    margin-inline: auto;
    background-color: red;
    border-radius: 12px;
    animation: line-animation ease-in;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes line-animation{
    0%{
        width: 0px;            
    }
    100%{
        width: 80vw;
    }
}

.ai-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: max(50vw, 500px);
    height: auto;
    background-color: rgb(255,255,255,0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    transition: 0.3s ease-in-out;
}

.ai-cv .img-container{
    display: grid;
    place-items: center;
    align-content: center;
    width: max(60%, 200px);
    z-index: 1;
    height: fit-content;
    margin: 20px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}

.ai-cv .vid{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 100px 10px rgba(250, 235, 215, 0.2);
    transition: 0.3s ease-in-out;
}

.ai-cv .play-btn{
    position: absolute;
    filter: drop-shadow(0 0 3px red);
    height: 50px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

.ai-cv p{
    width: auto;
    margin: 20px;
    text-align: center;
    font-family:"Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: large;
    color: antiquewhite;
}

.ai-cv:hover{
    transform: scale(105%) translate3d(10px, -20px, 0px) rotate3d(1,1,0, 30deg);
    transition: 0.3s ease-in-out;
}

.ai-cv:hover .description-card {
    transform: scale(120%) translate3d(80px, -20px, 0px);
    box-shadow: 0px 0px 50px 25px rgba(250, 235, 215, 0.2);
    backdrop-filter: blur(5px);
    transition: 0.3s ease-in-out;
}

.ai-cv:hover .img-container {
    transform: scale(120%) translate3d(10px, -20px, 0px);
    box-shadow: 0px 0px 50px 5px rgba(250, 235, 215, 0.2);
    transition: 0.3s ease-in-out;
}

.ai-cv .img-container:hover .vid{
    filter: blur(5px) brightness(50%);
    transition: 0.3s ease-in-out;
}

.img-container:hover .play-btn{
    transform: scale(120%) translate3d(10px, -20px, 0px);
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.description-card{
    border-radius: 12px;
    margin: 25px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.description-card .left-arrow{
    height: 20px;
    width: 20px;
    position: absolute;
}

.description-card .see-more{
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px 1px rgba(250, 235, 215, 0.4);
    margin: auto;
    margin-left: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.description-card:hover .see-more{
    transform: scale(120%) translate3d(10px, -20px, 0px);
    transition: 0.3s ease-in-out;
}

.description-card .see-more .flip-btn{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

@media all and (max-width: 800px){
    body{
        overflow-inline: hidden;
        width: 100vw;
    }

    .ai-cv{
        width: 85vw;
        margin: auto;
        margin-block: 20px;
        display: flex;
        flex-direction: column;
    }

    .ai-cv .description-card{
        margin: 20px;
    }

    .ai-cv .img-container{
        width: auto;
    }

    .ai-cv:hover{
        transform: scale(105%) translate3d(10px, -20px, 0px);
        transition: 0.3s ease-in-out;
    }

    .ai-cv:hover .img-container {
        transform: scale(105%) translate3d(0px, -20px, 0px);
        box-shadow: 0px 0px 50px 10px rgba(250, 235, 215, 0.2);
        transition: 0.3s ease-in-out;
    }

    .ai-cv .img-container:hover .vid{
        filter: blur(5px) brightness(50%);
        transition: 0.3s ease-in-out;
    }

    .ai-cv:hover .description-card {
        transform: scale(105%) translate3d(0px, -20px, 0px);
        box-shadow: 0px 0px 50px 10px rgba(250, 235, 215, 0.2);
        transition: 0.3s ease-in-out;
    }
    
    .name-container{
        margin-inline: 10px;
        padding: 10px;
    }
}