@import 'tailwindcss';

div {
	color: whitesmoke;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

@layer components {
	main {
		@apply w-full px-2.5 pt-20 pl-16 sm:pl-32;
	}
}
