name: Deploy pages

on:
  push:
    branches: ['main']

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: bun
        uses: oven-sh/setup-bun@v2

      - name: install dependencies
        run: bun install

      - name: build
        env:
          BASE_PATH: "${{ github.event.repository.name != format('{0}.github.io', github.repository_owner) && format('/{0}', github.event.repository.name) || '' }}"
        run: bun run build

      - name: upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'build/'

  deploy:
    needs: build_site
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: github pages deploy
        id: deployment
        uses: actions/deploy-pages@v4
